<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
        <link rel='shortcut icon' type='image/ico' href='favicon.ico'>
    {% endblock head %}
</head>
<body>

{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>